<div class="row">

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoPerfil.jpg" alt="foto de perfil personal" class="img-fluid" id="foto__perfil__mitad">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Maldonado Martín</p>
    <p id="jr">Full Stack Developer Jr.</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>Lorem ipsum, sit amet consectetur adipisicing elit.rem asperiores hictiae mrecusandae, animi, necessitatibus placeat cris quia non repellendus suscipit quam, deserunt is ab? Accusantium!</p>
    </span>
  </div>

</div>
